body {
    background: linear-gradient(rgb(186, 216, 236));
    font-family: Arial, Helvetica, sans-serif;

}

p{
    font-size: 16px;
}

#highligtht{
    color : rgb(19, 19, 90);
    font-weight: bold;
    font-family: 'Gill sans', 'Gill Sans MT';
    font-size: 25px;
}

/* ini untuk id*/

.fancy {
    font-style: italic;
    color: rgb(36, 9, 66);
}


/* ini untuk mengedit classnya*/

.example {
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color: darkblue;
}

ul.listsatu {
    color: rgb(12, 12, 41);
    font-family:'Times New Roman', Times, serif;
    margin: 10px 5px 5px 10px;
    background-color: rgb(86, 132, 143);
    list-style-type: disc;
    list-style-position: inside;
    border-radius: 10px;

}

ol.listdua {
    color: rgb(12, 12, 39);
    font-family:'Times New Roman', Times, serif;
    margin: 10px 5px 5px 10px;
    background-color: rgb(148, 108, 158);
    list-style-type: disc;
    list-style-position: inside;
    border-radius: 10px;
}

.section1 {
    background-color: rgb(167, 167, 245);
    padding: 10px;
    border-radius: 10px;

}

.mark {
    background-color: rgb(60, 133, 133);
    font-style: italic;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
}

.animate-text {
    color: rgb(12, 12, 107);
    font-size: 60px;
    animation: pulse 2s infinite;
}

@keyframes pulse{
    0%{opacity: 1;}
    50%{opacity: 0.5;}
    100%{opacity: 1;}
}

.btn {
    display: inline-block;
    background-color: rgb(17, 7, 75);
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    transition: 0.3s;
}

a.btn:hover {
    background-color: rgb(85, 83, 121);
    transform: scale(1.1);
}